<html>
  <head>
    <title>About weather app</title>
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="icon" href="https://cdn2.iconfinder.com/data/icons/weather-flat-14/64/weather02-512.png" type = 'image/x-icon'>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
  </head>
  <body>
    <div class="main">
      {{>header}}
      <div>
        <img id = 'image' src=""/>
      </div>
      <button class="btn btn-primary" onclick='showImage()' id="btnID">Click!</button>
      <script>
        const showImage = () => {
          let image = document.getElementById("image");
          image.src = "https://weatherstack.com/site_images/weatherstack_logo.png"
          document.getElementById('btnID').style.display = 'none';
        }
      </script>
   {{!-- <p>
      <img src="https://weatherstack.com/site_images/weatherstack_logo.png" alt="no img found" width="300px" height="50px">
    </p>
     --}}
    </div>
    
    {{>footer}}
  </body>
</html>